.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  

  background-image: url('/Fonoaudiologo.jpg'); /* <-- O nome da sua imagem */
  background-size: cover; /* Faz a imagem cobrir toda a tela */
  background-position: center; /* Centraliza a imagem */
}

.welcome-box {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.55); /* 85% opaco, 15% transparente */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: center;
}

.welcome-box h1 {
  margin-bottom: 15px;
  font-size: 28px;
  color: #333;
}

.welcome-box p {
  margin-bottom: 30px;
  font-size: 18px;
  color: #666;
}

.welcome-button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.welcome-button:hover {
  background-color: #0056b3;
}